.team-container {
  position: relative;
  width: 100%;
  height: 60vh; /* Adjust as needed */
  background-image: url("/static/images/team/armed-forces-helicopter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.team-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.team {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* filter: invert(1); */
}

.team p {
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 18px;
}

.flexbox-overlay-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  /* top: 40%; */
  left: 10%;
  /* transform: translateX(-40%); */
  width: 80%;
  height: 100%;
  font-size: 6.5vw;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0 auto;
}

.flexbox-overlay-team p{
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 18px;
  font-weight: 400;
}

.team-table-container {
  padding: 0 100px 0 100px;
  margin-bottom: 10%;
  background-repeat: no-repeat;
}

.team-header {
  padding-top: 100px;
  z-index: 2;
}

.team-header img {
  height: 80px;
  margin-top: -25px;
}

.team-subheading {
  z-index: 1;
}

.team-table {
  display: flex;
  padding: 10px 0 10px 0;
  flex-wrap: wrap;
}

.wrap-around {
  justify-content: space-around;
}

.team-table-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
}

.team-table img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-bottom: 10px;
  transition: all 1s;
}

.team-table img:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
}

.team-table h1 {
  font-size: small;
  line-height: 25px;
  margin: 0px;
}

.team-table h4 {
  margin: 0px;
  font-size: small;
  line-height: 25px;
  font-weight: 200;
}

@media (max-width: 767px) {
  .flexbox-overlay-team {
    font-size: 13.5vw;
    padding-top: 50px;
  }

  .flexbox-overlay-team p {
    font-size: 1.5rem;
    padding-top: 20px;
  }

  .team-header {
    padding-top: 0;
  }

  .team-header img {
    display: none;
  }
}

.input {
  width: 90%;
}

.message-box {
  height: 150px !important;
}

/* * * * * * * * * * * * * * * * * * * Contact us slide show * * * * * * * * * * * * * * * * * * */

.contact-us-form label {
  text-transform: uppercase;
}

.contact-section-1{
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .contact-section-1{
    flex-direction: column;
    align-items: center;
  }

  .contact-col{
    width: 100%;
  }
}

.contact-col{
  flex: 1;
}

.center-align{
  text-align: center;
}

.mySlides {
  display: none;
  transition: all 2s;
}

.mySlides a{
  color: white;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.prev, .next {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  padding: 5px;
  display: ruby-text;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(255, 240, 240, 0.8);
}

/* Caption text */
.text {
  color: #fff;
  font-size: 15px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.circle {
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.success-container{
  display: flex;
justify-content: center;
align-items: center;
height: 40vw;
}

@media (max-width: 767px) {
  .success-container{
  height: 100vw;
  text-align: center;
  }
}

/*  For the collected works page */
.work-container {
  color: black;
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url("/static/images/work/work1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.work h2 {
  font-weight: lighter;
}

.work p {
  font-size: 1.8rem;
  line-height: 2rem;
  /* text-align: left; */
  width: 100%;
  margin: 0 auto;
  padding-bottom: 18px;
}

.work-btn {
  padding-left: 12%;
  padding-right: 12%;
  background-color: black;
  color: white;
}

.work-col-l{
  flex: 1;
  text-align: right;
}

.work-col-r{
  flex: 1;
  text-align: left;
  margin-left: 60px; 
}


@media (max-width: 768px) {
.work-col-l{
  margin-left: 0px; 
  margin-top: 10px;
}

.work-col-r{
  margin-right: 0px; 
  margin-top: 10px;
}
}