@import url("http://127.0.0.1:5000/static/js/hamburgers.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
}

img {
  max-width: inherit!important;
}

a:hover, a:visited{
  filter: invert()!important;
  text-decoration: none!important;
  transition: all 0.5s;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px){
body {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
}

.mb-12 {
  margin-bottom: 50px;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  background-color: black;
  border: none;
}

/* Ensure the video and flexbox overlay cover the top */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
}

.fullscreen-image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  /* height: 100vh; Adjust as needed */
}

@media (max-width: 768px) {
  .fullscreen-image-container {
    width: auto; /* Reset the width for larger screens */
    max-width: 100%;
  }
}
/* Style the video to cover the container */
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Style the flexbox overlay */
.flexbox-overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* text-align: center; */
  /* align-items: center; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-40%);
  width: 60%;
  height: 100%;
  font-size: 55px;
  line-height: 55px;
  color: #fff;
  font-weight: 700;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .flexbox-overlay {
    font-size: 45px;
    left: 40%;
    top: 30%;
    width: 90%;
    overflow: hidden;
  }

  .flexbox-overlay img{
    display: none;
  }
}

/* Style the down arrow */
.down-arrow {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-40%);
}

.down-arrow:hover{
  filter: invert(1);
  transition: all 0.5s;
}

/* Begin Aalasa's code */
.custom-nav {
  color: white;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  transition: all 0.75s;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(0, 0, 0, 0.1);
}

.custom-nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.custom-nav-scrolled {
  width: 100%;
  color: white;
  background-color: black;
  filter: invert(1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.burger-menu{
  display: none;
}

@media (max-width: 768px) {
  .links-container{
    display: none;
  }

  .burger-menu{
    display: block;
  }
}

.what-we-do-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 65px;
  margin-bottom: 65px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .what-we-do-items {
    flex-direction: column;
  }
}

.what-we-do-item {
  flex: 1;
  text-align: center;
  position: relative;
}

.what-we-do-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 100%;
  width: 1px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .what-we-do-item:not(:last-child)::after {
    width: 0px;
  }
}

/* Buttons - - - - - - - - - - */
.index-btn {
  font-weight: 700;
  border: none;
  padding: 2% 3% 2% 3%;
  min-width: max-content;
}

/* Button: our experience - - - - - - - - - - */
.btn-our-experience {
  font-size: 2.5rem;
  background-color: black;
  color: white;
  padding: 25px;
}

.btn-our-experience:hover {
  filter: invert(1);
  transition: all 1s;
  cursor: crosshair;
}

/* Button: our services - - - - - - - - - - */
.btn-our-services {
  font-size: larger;
  background-color: black;
  color: white;
  padding: 25px 100px 25px 100px;
}

.btn-our-services:hover {
  filter: invert(1);
  transition: all 1s;
  cursor: crosshair;
}

/* Button: contact us - - - - - - - - - - */
.btn-contact-us {
  font-size: 2.5rem;
  background-color: white;
  color: black;
}

.btn-contact-us:hover {
  filter: invert(1);
  cursor: crosshair;
}

/* Our experience section - - - - - - - - - - */
.our-experience-background {
  background-color: aqua;
  background-image: url("/static/images/index/armed-forces-helicopter.jpg");
  background-size: 100%;
  height: 100%;
}

.our-experience-overlay {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  /* text-align: center; */
  /* align-items: center; */
  position: absolute;
  /* top: 0; */
  /* width: 100%; */
  /* height: 100%;
  font-size: xxx-large;
  color: aliceblue;
  font-weight: 700; */
}


.fullscreen-image-container img{
  width: 100%;
  overflow: hidden;
}

/* Work examples - - - - - - - - - - */
.work-banners {
  font-size: large;
  font-weight: 700;
  text-align: center;
}

.work-banners div:last-child {
  margin-bottom: 75px;
}

.work-banner-item {
  height: 430px;
  margin-bottom: 3%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 3s ease, filter 3s ease;
}

@media (max-width: 768px) {
  .work-banner-item {
    height: 29vw;
    margin-bottom: 4%;
  }
}

.work-banner-item:hover {
  transform: scale(1.05);
  filter: brightness(0.3);
  transition: transform 1s ease, filter 1s ease;
  /* filter: hue-rotate(1); */
}

.index-five-lamps {
  background-image: url("/static/images/index/5-lamps-banner.jpg");
}

.index-irish-defence-forces {
  background-image: url("/static/images/index/armed-forces-banner.jpg");
}

.index-ds {
  background-image: url("/static/images/index/ds4-banner.jpg");
}


.site-header .hamburger-inner{
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity))
} 


.hamburger{
  padding:0.3rem
}

.hamburger-box{
  display: flex;
  flex-direction: column;
  /* width:2.4rem */
}

.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 22px;
}

.nav-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  transition: all 100ms ease-in-out;
}

.nav-toggle:hover {
  cursor: pointer;
}

.x:nth-of-type(1) {
  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
}

.x:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
}

.x:nth-of-type(3) {
  transition: all 100ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.hamburger-inner,.hamburger-inner:before,.hamburger-inner:after{
  width:2.8rem;
  height:0.2rem
}

.hamburger-inner:before{
  top:-5px
}

.hamburger-inner:after{
  bottom:-5px
}

/* Start of site footer - - - - - - - - - - */
.site-footer{
  font-size: 20px;
  position: relative;
  display: flex;
  background-color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: black;
  justify-content: space-around;
  align-items: center;
}

.site-footer a{
  color: black;
}

@media (max-width: 575px){
  .site-footer{
    font-size:1.6rem;
    flex-direction: column;
    row-gap: 50px;
    text-align: center;
  }
}

/* .site-footer__contact{
  padding-left:0 !important
}

.site-footer__contact li{
  display: flex;
  align-items: center
}

.site-footer__contact li i{
  text-align: center;
  width: 2rem;
  margin-right: 1rem
}

.site-footer__contact li+li{
  margin-top: 1rem
}
*/

.site-footer__social{
  display: flex;
  justify-content: space-evenly;
} 

.site-footer__social i:hover{
  color: black;
  text-decoration: none;
}
/*
@media (min-width: 992px){
  .site-footer__social{
    padding-top: 0;
    justify-content: flex-end
  }
}

.site-footer__social ul{
  display: flex;
  margin-right: 3rem
}

.site-footer__social ul li+li{
  margin-left: 1rem
}

.site-footer__social img{
  width:9rem
}

@media (min-width: 992px){
  .site-footer__social img{
    width:17rem
  }
}  */


/* End of site footer */

.image-section{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow:hidden;
  flex-direction: column;
  flex:0 0 100%
}

@media (min-width: 992px){
  .image-section{
    align-items: flex-end;
    flex-direction: row;
    min-height:90rem
  }
}

@media (min-width: 1200px){
  .image-section{
    min-height:100rem
  }
}

.image-section img.image-section__heading{
  max-width:40%
}

@media (min-width: 992px){
  .image-section img.image-section__heading{
    max-width:100%
  }
}

.image-section__bg{
  max-width: none;
  width: auto;
  order:1;
  @media (min-width: 1200px){
  }
}

@media screen and (max-width: 767px){
  .image-section__bg{
    height: auto;
    max-width:115%
  }
}

@media (min-width: 768px){
  .image-section__bg{
    max-width:100%;
    margin-left: 0
  }
}

.image-section__content{
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  order:2;
  z-index:1
}

@media (min-width: 992px){
  .image-section__content{
    position: absolute;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    top:47%;
    transform:translateY(-50%)
  }
}

.image-section:first-child .image-section__bg{
  width: 100%;
  margin-left:0
}

@media (min-width: 992px){
  .image-section:first-child .image-section__bg{
    height: auto;
    width: auto
  }
}

@media screen and (min-width: 992px) and (max-width: 1800px){
  .image-section:first-child .image-section__bg{
    margin-left:-30rem
  }
}

@media (min-width: 992px){
  .image-section:first-child .image-section__content{
    top:calc(50% - 17.5rem);
    transform:translateY(-50%)
  }
}

.image-section:first-child .image-section__content+.image-section__content{
  padding-top: 2rem;
  padding-bottom: 2rem;
  order:3;
  top:calc(50% + 17.5rem)
}

.image-section__images,.image-section__bg{
  width: 100%;
  position: relative;
  overflow: hidden
}

.image-section__images img,.image-section__bg img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}

.image-section__images img:first-child,.image-section__bg img:first-child{
  position: static
}

.image-section__images{
  max-width:144rem
}

@media (min-width: 992px){
  .image-section__images{
    margin-left:-34rem
  }
}

@media (min-width: 1200px){
  .image-section__images{
    margin-left:-44rem
  }
}

@media screen and (min-width: 1600px){
  .image-section__images{
    margin-left:-28rem
  }
}

.animate-body-text{
  position:relative;
  top:100px
}

.animate-image{
  position:relative;
  transform:translateY(160px)
}

.cms-area--sm{
  font-size:2rem;
  line-height:1.3em
}

.cms-area--text-xl{
  font-size:2.4rem;
  line-height:1.25em
}

.cms-area hr{
  margin-top: 4rem;
  margin-bottom: 4rem
}

.cms-area h1{
  margin-bottom: 2rem;
  font-size:1.5em
}

.cms-area h2,.cms-area h3,.cms-area h4{
  margin-bottom: 2rem;
  font-size:1.25em
}

.cms-area p,.cms-area ul,.cms-area ol,.cms-area img{
  margin-bottom: 3rem
}

.cms-area p:last-child,.cms-area ul:last-child,.cms-area ol:last-child,.cms-area img:last-child{
  margin-bottom: 0
}

.cms-area ul{
  list-style-type: disc;
  padding-left: 2rem
}

.cms-image img{
  max-width: none;
  width:125%
}

@media (min-width: 992px){
  .cms-image img{
    width: auto;
    margin-left:-40rem;
    max-height:60rem;
    margin-top:25rem
  }
}

@media screen and (min-width: 1400px){
  .cms-image img{
    margin-top: 0;
    margin-left:-18rem;
    max-height:54rem
  }
}

@media screen and (min-width: 1800px){
  .cms-image img{
    margin-left:-22rem;
    max-height:70rem
  }
}

.page-content{
  margin-top: 8.5rem;
  padding-bottom: 7rem;
  overflow-x: hidden;
  line-height:1.3em
}

@media (min-width: 992px){
  .page-content{
    font-size:2rem
  }
}

.page-content video,.page-content .video-js{
  width: 100%
}

.page-content video .vjs-poster:before,.page-content .video-js .vjs-poster:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  --bg-opacity: 1;
  background-color: #000;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  --bg-opacity: 0.75
}

.page-content video .vjs-big-play-button,.page-content .video-js .vjs-big-play-button{
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  border:none;
  background-color:transparent;
  width:11rem;
  height:6rem
}

.page-content video .vjs-big-play-button:before,.page-content .video-js .vjs-big-play-button:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url("/images/layout/arrow.svg");
  filter:invert(100%)
}

/* .page-content video .vjs-big-play-button:after,.page-content .video-js .vjs-big-play-button:after{
  content:'Play Video';
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  position: absolute;
  font-family: Gotham A, Gotham B;
  font-size:2rem;
  line-height:1.5em;
  left:0;
  top:calc(100% + 1rem)
} */

.page-content video .vjs-big-play-button .vjs-icon-placeholder:before,.page-content .video-js .vjs-big-play-button .vjs-icon-placeholder:before{
  display: none
}

.page-content video .vjs-big-play-button:focus,.page-content .video-js .vjs-big-play-button:focus{
  background-color: transparent
}

.page-content video:hover .vjs-big-play-button,.page-content .video-js:hover .vjs-big-play-button{
  background-color: transparent
}

.page-content__title{
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto
}

.page-content__title:not(:first-child){
  margin-top: 6rem
}

@media (min-width: 768px){
  .page-content__title{
    margin-left: 0
  }
}

@media screen and (max-width: 1900px){
  .page-content #content .image-section__bg{
    margin-left:-20rem
  }
}

@media screen and (max-width: 1600px){
  .page-content #content .image-section__bg{
    margin-left:-35rem
  }
}

@media screen and (max-width: 991px){
  .page-content #content .image-section__bg{
    margin-left: 0
  }
}

.page-home .page-content{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0
}

.template-adaptive .page-content{
  padding-bottom: 0;
  overflow-x: hidden;
  width: 100vw
}

.template-adaptive .page-content img.page-content__title{
  width: auto;
  max-height:8rem
}

.template-adaptive .page-content h1{
  font-size: 4rem;
  font-weight: 700
}

.client{
  margin-bottom: 3rem
}


.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}