<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Home | Kick</title>
    <meta name="robots" content="index,follow" />
    <meta name="description"
        content="A creative agency, we give our clients the ultimate competitive advantage - the ability to outsmart the competition." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no">

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="icon" href="https://kickdublin.ie/2021/images/icons/favicon.png" sizes="32x32" type="image/png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <link rel="stylesheet" href="https://kickdublin.ie/2021/css/style.css?v=1.4" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/misc.css') }}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script defer src="{{ url_for('static', filename='js/header-control.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/contact-map.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/contact-slideshow.js') }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


</head>

<body id="top" style="background-color: black; color: white;">
    <!-- NAV -->
    <nav class="custom-nav">
        <div class="nav-contents-container">
            <div>
                <a href="/">
                    <div style="width: 170px;">
                        <lottie-player id="logoLottie"
                            src="{{ url_for('static', filename='js/lottie_logo.json') }}"></lottie-player>
                    </div>
                </a>
            </div>
            <div class="links-container">
                <ul class="links" style="display: flex; column-gap: 30px;">
                    <li class="link-item"><a class="nav-link teal-hover" href='/'>Clients</a></li>
                    <li class="link-item"><a class="nav-link teal-hover" href='/'>Work</a></li>
                    <li class="link-item"><a class="nav-link teal-hover" href='/team'>Team</a></li>
                    <li class="link-item"><a class="nav-link teal-hover" href='/contact'>Contact</a></li>
                </ul>
            </div>
            <div class="burger-holder">
                <!-- Top Navigation Menu -->
                <div id="nav-icon4" onclick="myFunction()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

        </div>
        <div class="topnav">
            <div id="myLinks">
                <a href="/">Clients</a>
                <a href="/">Work</a>
                <a href="/">Team</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="site-footer">
        <div>
            <p style="line-height: 25px!important;">
                Gilford Hall,<br>
                13 Gilford Road,<br>
                Sandymount,<br>
                Dublin<br>
                <hr>
                <strong>D04 TY84</strong>
            </p>
        </div>
        <div>
            <ul class="site-footer__contact">
                <li>
                    <p><i class="icon-envelope"></i><a href="mailto:info@kickdublin.ie"> info@kickdublin.ie</p></a>
                </li>
                <li>
                    <p><i class="icon-phone"></i><a href="tel:+353 1 260 2091"> +353 1 260 2091</p></a>
                </li>
                <li>
                    <hr>
                </li>
                <li>
                    <div class="site-footer__social">
                        <div><a href=""><i class="icon-facebook icon-large"></i></a></div>
                        <div><a href=""><i class="icon-linkedin icon-large"></i></a></div>
                        <div><a href=""><i class="icon-instagram icon-large"></i></a></div>
                    </div>
                </li>
            </ul>
        </div>

        <div>
            <p><a href="/"><img src="{{ url_for('static', filename='images/logos/logo.svg') }}" width="170"
                        alt="Kick Logo"></a></p>
        </div>

    </footer>

    <!-- End of page content -->
    <script src="{{ url_for('static', filename='js/lottie.js') }}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>

    <script>
        (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
            key: "AIzaSyBothW3fod_WlnNpMeyC9RgmEwhykCPTf8",
            v: "weekly",
        });
    </script>

</body>

</html>