{% extends 'base.html' %}

{% block content %}

<section id="header">
    <div class="video-container" data-aos="fade-in">
        <video playsinline loop autoplay muted
            poster="{{ url_for('static', filename='images/index/video-poster.jpg') }}" style="filter: brightness(0.6);">
            <!-- <source src="https://kickdublin.ie/video/showreel-v4-compressed-no-sound.mp4" type="video/mp4"> -->
            <!-- <source src="https://kickdublin.ie/video/showreel-v4-compressed-no-sound.webm" type="video/webm"> -->
            <source src="{{ url_for('static', filename='videos/Website_landing_page_30_05_2023.mp4') }}" type="video/mp4">
            Your browser does not support this video format
        </video>
        <div class="flexbox-overlay">
            <!-- Content for the flexbox overlay -->
            <div data-aos="fade-up" data-aos-duration="1500">An advertising agency, we help brands compete and
                flourish.</div>
        </div>
        <a href="#what-we-do" class="down-arrow chevron">
            <img src="{{ url_for('static', filename='images/chevrons/WhiteChevron.svg') }}">
        </a>
    </div>
    <div id="what-we-do" style="height:67px;"></div>
    <!-- Section below the video -->
    <div data-aos="fade-up" class="what-we-do">
        <!-- Content for the section below the video -->
        <div style="margin: 5% 10% 0 10%;">
            <h1 data-aos="fade-up" class="mb-12" style="font-size: 3rem; line-height: 3rem; text-align: left;">
                What We Do</h1>
            <div data-aos="fade-up">
                <p>The agency exists to provide a more
                    single-minded, holistic and results-driven focus to our clients' marketing activity. We work
                    across the following areas...</p>
            </div>
            <div class="services-table-container">
                <div class="services-table">
                    <div class="services-table-row" data-aos="fade-up">
                        <div class="services-left-col">Advertising</div>
                        <div class="services-right-col">Ambition for the best creative leads all of us. We care
                            about the quality and integrity of our work above all else.</div>
                    </div>
                    <div class="services-table-row" data-aos="fade-up">
                        <div class="services-left-col">Strategy</div>
                        <div class="services-right-col">We believe the path to world-class work is through rigorous
                            creative strategy that has clear and measurable objectives and is rooted in Brand
                            Purpose.</div>
                    </div>
                    <div class="services-table-row" data-aos="fade-up">
                        <div class="services-left-col">Graphic Design</div>
                        <div class="services-right-col">From product innovation to performance marketing, we believe
                            all our work needs to work in concert to connect every element at every phase of the
                            customer journey.</div>
                    </div>
                    <div class="services-table-row" data-aos="fade-up">
                        <div class="services-left-col">Brand Activation</div>
                        <div class="services-right-col">We strive to create work that adds value to people’s lives,
                            not noise. We believe our industry needs to be transformed to create things people
                            actually want and welcome.</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up">
            <div id="our-experience"
                style="color: white; background-color: black; margin-left: 10%; margin-right: 10%;">
                <div style="text-align: center; ">
                    <img style="height: 34vw; margin-top: 3%; margin-bottom: 3%;"
                        src="{{ url_for('static', filename='images/index/armed-forces-helicopter.jpg') }}">
                </div>
                <div style="margin-left: 3.5vw; margin-right: 3.5vw;">
                    <h1 class="mb-12" style="font-size: 3rem;
                            line-height: 3rem; font-weight: 700;" data-aos="fade-up">Our Experience</h1>
                    <p data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices
                        nibh sed leo iaculis tristique. Maecenas pharetra suscipit enim, eget condimentum turpis
                        pellentesque at. </p>
                </div>
                <div style="text-align: center;">
                    <a href="/">
                        <button class="index-btn btn-our-experience" data-aos="fade-up">See more</button>
                    </a>
                </div>
            </div>
            <div style="text-align: center; margin-top: 4%; margin-bottom: 4%;">

                <a href="#our-work" class="scroll-button chevron">
                    <div id="our-work"></div>
                    <img src="{{ url_for('static', filename='images/chevrons/BlackChevron.svg') }}">
                </a>
            </div>
        </div>
    </div>
</section>

<div class="all-works">
    <section class="banner">
        <div class="banner-background" style="background-image: url('/static/images/index/5-lamps-banner.jpg');">
        </div>
        <div class="banner-text">
            <a href="/">
                <p>5 Lamps</p>
                <h3>Relaunching the Beer from Ah Here</h3>
                <button class="index-btn">See more</button>
            </a>
        </div>
    </section>

    <section class="banner">
        <div class="banner-background" style="background-image: url('/static/images/index/armed-forces-banner.jpg');">
        </div>
        <div class="banner-text banner-text__middle-item">
            <a href="/">
                <p>Irish Armed Forces</p>
                <h3>"Be More" campaign</h3>
            </a>
            <button class="index-btn">See more</button>
        </div>
    </section>

    <section class="banner">
        <div class="banner-background" style="background-image: url('/static/images/index/ds4-banner.jpg');"></div>
        <div class="banner-text">
            <a href="/">
                <p>DS Automobiles</p>
                <h3>DS4 Launch</h3>
            </a>
            <button class="index-btn">See more</button>
        </div>
    </section>
</div>

<section id="contact-us-banner" style="margin: 0 10% 0 10%;"
    style="display: flex; justify-content: space-around; flex-direction: column;">
    <div data-aos="fade-up" style="text-align: center; padding-top: 6%;">
        <a href="/contact">
            <button class="index-btn btn-contact-us">Contact Us</button>
        </a>
    </div>
    <div data-aos="fade-up" style="text-align: center; padding-top: 20%; padding-bottom: 10%;">
        <a href="#top" class="chevron back-to-top-btn">
            <img src="{{ url_for('static', filename='images/chevrons/WhiteBTT.svg') }}">
        </a>
    </div>
</section>

{% endblock %}